@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: rgb(29, 29, 31);
    
    background-size: 100%;
}

.max-width {
    display: flex;
    justify-content: space-between;
    max-width: auto;
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px ;
    transition: all 0.5s ease;
    font-family: "lobster";
}

header.sticky {
    background-color: rgb(67, 24, 107);
    padding: 30px ;
}

.navbar {
    float: right;
    padding-top: 100px;
    
    
}
.msganima {
    text-align: right;
    margin: 20px;
    padding-top: 20px;
}

nav a{
    color: rgb(159, 146, 172);
}

nav a:hover {
    padding-inline: 8px;
    padding-bottom: 5px;
    background-color: rgb(29, 29, 31);
    }
    
span {
    color: rgb(159, 146, 172);
    
}
nav .black {
    color: black;
    font-size: larger;
}
.timer {
    text-align: center;
    color: rgb(159, 146, 172);
    font-size: xx-large;
}
main {
    padding-top: 200px;
}

footer {
    padding-top: 900px;
    text-align: center;
}